name: news_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider: ^6.1.5+1
  smooth_page_indicator: ^1.2.1
  http: ^1.6.0
  flutter_svg: ^2.2.2
  shared_preferences: ^2.5.3
  cached_network_image: ^3.4.1
  shimmer: ^3.0.0
  flutter_screenutil: ^5.9.3
  image_picker: ^1.2.1
  country_picker: ^2.0.27
  hive_ce_flutter: ^2.3.4
  flutter_bloc: ^9.1.1
  equatable: ^2.0.8
  hydrated_bloc: ^10.1.1
  path_provider: ^2.1.5
  dio: ^5.9.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  hive_ce_generator: ^1.10.0
  build_runner: ^2.10.5

  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true


  assets:
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
